<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet"
          type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")"
            type="text/javascript"></script>
</head>
<body>
    <div id="header">   
        <h1><a href="/">Bazurto Music Store Cartagane</a></h1>
        <ul id="navlist">
            <li class="first"><a href="@Url.Content("~")" id="current">Inicio</a></li>
            <li><a href="@Url.Content("~/Store/")">Tienda</a></li>
          
            <li><a href="@Url.Content("~/StoreManager/")">Admin</a></li>
        </ul>
    </div>



    <div id="main">
        @RenderBody()
    </div>

    <div id="footer">
         <a href="/#"> Bazurto Music Store</a>
    </div>
</body>
</html>